 /* body {
     font-size: 12px;
 }  */
 .sidebar {
     position : fixed;
     top : 0;
     left : -160px;
     transition : 100ms left;
 }
 #navigation-toggle {
     position : absolute;
     left : 160px;
     background : #82c4d9;
     color : white;
     text-decoration : none;
     padding : 20px;         
 }
 .show {
     left : 0;
 }
 .navigation {
     list-style : none;
     padding : 0;
     margin : 0;
 }
 .navigation-items a {
     display : block;
    /*  background-color : #444; */
     color : white;
     line-height : 2em;
     text-decoration : none;
     /* padding : 10px 30px; */
     /* width : 100%; */

 }
/*  Active link style */
  .navigation-items a:link{
     color : white;
 }

 .navigation-items a:hover{
     background-color : #222;
     color : white;
 }
 *{
    margin: 0;
    padding: 0;;
}

body, html{
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

 .bigcontainer{
    position: relative;
    width: 97%;
    left :0px;
    height: inherit;
    /* background-color:aqua; */
} 


.band {
 display: table;
 background: lightblue;
 padding: inherit;
 border-radius: 5px;
}

img.profileimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.miniprofileimg {
    width:50px;
    height:50px;
    margin-left: 0px;
    margin-right: 0p;
}

.fullwidth{
	/* width:  100% !important; */
}

.fullheight{
	height:  100% !important;
}
.customscroll{
	overflow: scroll;
}
.right {
    position: absolute;
    width: 96%;
   /*  background-color: #b0e0e6; */
    #height:  100% !important;
    margin-top: 50px;
    left:8px;
    /* background-color:aliceblue; */
}

